<div class="blog-header">
  <h1 class="blog-header">
    Posts <%= link_to "Create New Post", %i[new post], class: "btn btn-primary", disabled: !current_user%>
  </h1>
  <% if !current_user %>
    <span id="helpBlock2" class="help-block">You must be <%= link_to "signed in", %i[new user session] %> or
      <%= link_to "register", %i[new user registration] %> to <%= Post.model_name.human.downcase %>. </span>
  <% end %>
</div>

<div class="row">
  <div class="col-sm-12 blog-main">
    <% if @posts.blank? %>
      <div class="alert alert-info">
          There are no <%= Post.model_name.human.downcase.pluralize %> to display.
        </div>
      </div> 
    <% end%>
    
    <% @posts.each do |post| %>
      <div class="blog-post panel panel-primary">
        <h2 class="blog-post-title panel-heading"><%= post.title %></h2>
        <div class="panel-body">
          <p class="blog-post-meta"><small><%= post.created_at.strftime("%_m/%d/%Y") %> by <%= post.user.name %></small></p>
          <p><%= post.body.truncate(160, separator: ' ') %></p>
          <%= link_to "Read more", post %>
        </div>
      </div>
    <% end %>
  </div>
</div>

