<div class="blog-post blog-post panel panel-primary">
  <h2 class="blog-header panel-heading"><%= @post.title %></h2>
  <div class="panel-body">
    <p class="blog-post-meta"><small><%= @post.created_at.strftime("%_m/%d/%Y") %> by <%= @post.user.name.presence || @post.user.email  %></small></p>
    <p><%= @post.body %></p>
    <p>
      <%= link_to "Edit post", [:edit, @post] if current_user == @post.user %>
    </p>
    <%= link_to "Back to posts", :posts %>
  </div>
</div>
<div>
  <%= button_tag "Reply", class: "btn btn-primary mb-3", data: { toggle: "modal", target: "#newCommentModal" }, disabled: !current_user %>
  <% if !current_user %>
    <span id="helpBlock2" class="help-block">You must <%= link_to "sign in", %i[new user session] %> or
      <%= link_to "sign in", %i[new user registration] %> to <%= Comment.model_name.human.downcase %>. </span>
  <% end %>
  <h2>Comments</h2>
  <% if @post.comments.blank? %>
    <div class="alert alert-info">
      There are no <%= Comment.model_name.human.downcase.pluralize %> to display.
    </div>
  </div> 
  <% end %>
  <% @post.comments.ordered.each do |comment| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= comment.user.name.presence || comment.user.email %>
          <small>
            <%= comment.created_at.strftime("%_m/%d/%Y %l:%M %p") %>
            <% if comment.created_at != comment.updated_at %>
              ; edited: <%= comment.updated_at.strftime("%_m/%d/%Y %l:%M %p") %>
            <% end %>
          </small>
          <%= link_to "edit", "#", class: "pull-right", data: { toggle: "modal", target: "#newCommentModal#{ comment.id }" } if current_user == comment.user  %>
        </h3>
      </div>
      <div class="panel-body">
        <%= comment.body %>
      </div>
    </div>
    <%= render partial: "comments/edit_modal", locals: { comment: comment } if current_user == comment.user %>
  <% end %>
</div>

<%= render partial: "comments/new_modal", locals: { comment: @post.comments.new } %>
